<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> | Polaroid</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/profile.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> 
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-sm-6"  id="coverpicture">
				<div class="coverpicture">
					<div class="profileline">
						<img class="profilepic" src='{{ display_picture }}'>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9 col-sm-6">
				<h2 class="usernametext">
					| {{ username }}
				</h2>
				<h6 class="text-muted" id="biotext">
					{{ bio }}
				</h6>
				<br>
				<br>
				<br>
				<h5 class="postsheading">
					<u>Posts</u>
				</h5>
				<br>
				<div class="row postrow">
					{% if not posts %}
					<h3>
						User has no posts
					</h3>
					{% endif %}
					{% for p in posts %}
					<div class="imagepost">
						<a data-target="#imageModal" data-toggle="modal">
							<img src='{{ p.image }}' class="post">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
				<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="ModalView" aria-hidden="true">
  					<div class="modal-dialog">
    					<div class="modal-content">
				      <div class="modal-body">
				      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				        <img src="../static/Images/register4.jpg" class="modalpost">
				        <div class="written">
				        	<p class="comment"><span class="commentuser">{{ username }}  </span>Look at my post!</p>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
