<!doctype html>
<html>
<head>
	<title> Sign up! </title>
</head>
<body>
	   <form action = "/register/" method = post>
         <dl>
         	<th colspan="2" > Register ! </th>

            <dt>Username:</dt>
            
            <dd>
               <input type = text name = username>
            </dd>
            
            <dt>Password:</dt>
            <dd><input type = password name = password ></dd>
            <dt>Retype Password : </dt>
            <dd><input type="password" name="password1"></dd>
         </dl>
         <p><input type = submit value = "Sign up"></p>
       </form>
</body>